:root {
    --background-color-primary: black;
    --background-color-secondary: #C1C1C1;
    --background-color-tertiary: #A1A1A1;
    --title-color: #B71C1C;
    --text-color:white;
    --text-color-secondary: #000;
    --link-color: #FF5722;
    --title-font: "Montserrat", sans-serif;
    --text-font: "Roboto", sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color-secondary);
  color: var(--text-color-secondary);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1% 2rem;
  gap: 1rem;
  text-decoration: none;
}
header, footer {
  background-color: var(--background-color-primary);
  color: var(--text-color);
  text-align: center;
}
main {
  padding: 2rem;
}
footer p{
  padding: 0.5rem;
  font-size: 0.8rem;
}