.desktop-menu a{
    text-decoration: none;
    color: var(--text-color);
    padding: 0.2rem 1rem;
    font-family: var(--text-font);
}
.carousel-container {
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  position: relative;
}

.carousel-container-h2 {
  text-align: center;
  font-family: var(--title-font);
  font-size: xx-large;
  margin-bottom: 1rem;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-shrink: 0;
  padding: 2rem;
  box-sizing: border-box;
  background-color: var(--background-color-tertiary);
  border-radius: 30px;
}
.carousel-item-header, .carousel-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1.5rem;
  gap: 1.5rem;
  background-color: var(--background-color-secondary);
  border-radius: 30px;
}
.carousel-item-header-h3, .carousel-item-content-h3 {
  font-family: var(--title-font);
  font-size: x-large;
  margin-bottom: 0.5rem;
}
.carousel-item-header-img {
  width: 400px;
  height: 600px;
  object-fit: cover;
  border-radius: 30px;
}
.carousel-item-description, .carousel-item-subcontent {
  background-color: var(--background-color-tertiary);
  border-radius: 30px;
  font-size: medium;
  padding: 0.75rem;
  padding: 1rem;
  color: var(--text-color-secondary);
  text-align: center;
}

.carousel-item-subcontent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hidden {
  display: none;
}
.carousel-item-h4 {
  font-family: var(--text-font);
  font-size: large;
  color: var(--text-color-secondary);
}
.counter {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin: 0.5rem 0;
}

.counter button {
  padding: 0.2rem 0.5rem;
  border-radius: 30px;
  font-size: 1rem;
}

.reserve-btn {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.places-left {
  margin-top: 0.5rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 2rem;
  width: 100%;
  background-color: var(--background-color-secondary);
}
.film-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 50px;
}
.film-list-container h2 {
  text-align: center;
  font-family: var(--title-font);
  font-size: xx-large;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 2rem;
}
.film-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  gap: 2rem;
}
.film-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: var(--background-color-tertiary);
  border-radius: 30px;
  padding: 2rem;
  gap: 1rem;
  margin: 0 0 2rem 0;
}

.film-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
}
.film-card-h3 {
  font-family: var(--title-font);
  font-size: large;
  margin-bottom: 0.5rem;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 2rem;
  gap: 1rem;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content {
  background: white;
  padding: 2rem;
  gap: 1rem;
  border-radius: 10px;
  text-align: center;
}
.hidden {
  display: none;
}
.captcha-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.captcha-content {
  background-color: #fff;
  padding: 3rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

.captcha-checkbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

#captcha-validate {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #3a8bfd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#captcha-validate:hover {
  background-color: #2c6fd3;
}